<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">
    <title>login page</title>
       <!-- Custom fonts for this template -->
       <link
       href="/css/bootstrap.min.css"
       rel="stylesheet"
       type="text/css"
     />
     <link href="/css/main-style.css" rel="stylesheet" type="text/css" />
    
 
     <!-- Custom styles for this template -->
     <link href="/css/sb-admin-2.css" rel="stylesheet" />
     <link rel="stylesheet" href="/css/animate.css">
 
     <!-- Custom styles for this page -->
     <link
       href="/vendor/datatables/dataTables.bootstrap4.min.css"
       rel="stylesheet"
     />
     <link rel="stylesheet" href="/css/all.min.css" />
     <link rel="stylesheet" href="/css/spinner.css">

</head>
<body >
  

    <div class="card text-white w-50 mx-auto" style="margin-top:80px">
      <div class="card-body bg-purple rounded-start">
        <div class="card-body ">

            <form class="wow tada" method="POST" action="">
              <center>
              <h3>Reset Password</h3>
              <p>fill the following to change your password</p>
            </center>
          
                   <div class="mx-auto">
                            <div class=" wow flash">
                              <div class="mb-2">
                                <label for="form-label " class="mr-3 "> <b>Create password</b></label> <br>
                                 <input type="password"
                                   class="form-control" name="create_password" id="" aria-describedby="helpId" placeholder="create password">
                               </div>
                            </div>
                            <div class=" wow shake">
                            
                            <br>
                          <div class="mb-3">
                            <label for="" class="form-label"><b>Confirm passsword</b></label>
                            <input type="password"
                              class="form-control" name="password" id="" aria-describedby="helpId" placeholder="confirm Password">
                          </div>
                        </div>
                            <br>
                            <div class="">
                              <button class='btn btn-warning border-end w-100 wow slideInLeft data-wow-duration="2s" data-wow-delay="1s"' type="submit" >Reset passowrd</button>
                            </div>

                          </div>
                        </form>
                        </center>
                        </div>
        
        

            
        </div>
        
      </div>
    </div>
    
    </footer>
  </body>
  <script src="/js/all.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/jquery.min.js"></script>
    <script>
      new WOW().init();
    </script>
<%- include("../patials/footer.ejs") %>
    
 


                     