<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mi-Assets</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style-2.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" style="background-color: purple; ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Mi-Assets</a></h1>
    

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Fixed-assets</a></li>
          <li><a class="nav-link scrollto" href="#team">Clients</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#login">Sign-up/Log-in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section >
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel" style="height: 469px;">

 
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active" height="630px">
      <div style="opacity: 0.7;">
        <img src="/img/fixed-assets/car_2.jpg" alt="restorant" class="d-block" style="width:100%; box-shadow: black 0.3; height: 630px; object-fit: cover;">
      </div>
      <div class="carousel-caption">
       <div class="content" >
        <b>Lease People Your Asset Now</b>
        <p>Rent out your fixed asset!! we assure you great profit</p>

        </div>
      </div>
      </div>
    <div class="carousel-item">
      <div style="opacity: 0.8;">
      <img src="/img/fixed-assets/estate.jpg" alt="estate" class="d-block" style="width:100%; box-shadow: 0.6; height:630px; box-shadow: purple 0.5">
      </div>
        <div class="carousel-caption">
          <div class="content">
          <b class="my-auto">Register as a Proprietor</b>
          <p style="font-weight: bold; padding-top:10px; font-size: 20px;">Your Tenets is your Friend, rent out any physical Asset you can think for... </p>
          <button class="btn" style="background-color: purple;"><a href="#login">Click Here!</a></button>
        </div>
        </div> 
      </div>
    <div class="carousel-item">
      <div style="opacity: 0.7;">
      <img src="/img/fixed-assets/rice-harverster.jpg" alt="harverster" class="d-block" style="width:100%; object-fit: cover; box-shadow: 0.6;" height="629px">
      </div>
      <div class="carousel-caption">
        <div class="content">
        <b> Properties management system</b>
        <p style="font-weight: bold; padding-top:10px; font-size: 20px;">We are known to controlling the worth of the fixed asset and its information</p>
      </div>
      </div>  
    </div>
    <div class="carousel-item">
      <div style="opacity: 0.7;">
      <img src="/img/fixed-assets/brandos.jpg" alt="bicycle" class="d-block" style="width:100%; height:629px; box-shadow: 0.6; object-fit: cover;" >
      </div>
      <div class="carousel-caption">
        <div class="content" >
        <b>Depreciation Computation System</b>
        <p>The Depreciation of each asset can be calculated in the system</p>
      </div>
      </div>  
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>


  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="125" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Happy Landlords</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Fixed Assets</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-tools"></i>
                  <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Depreciated Assets</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-people"></i>
                  <span data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Renters</p>
                </div>
              </div>

            </div>
          </div>
        </div>

   

      </div>
    </section><!-- End About Section -->

    <!-- ======= About Boxes Section ======= -->
    <section id="about-boxes" class="about-boxes">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <img src="/img/card/startegy.jpg" class="card-img-top" alt="..." >
              <div class="card-icon">
                <i class="ri-brush-4-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text"> 
                  We focus on overseeing, managing, protecting and maximizing potential of property asset on behalf of property owner.         </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <img src="/img/card/stack.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="ri-calendar-check-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Plan</a></h5>
                To be premier web application in delivery every aspect of the fixed 
                  assets accross the nation, and helping investors, landlords, renters, and the government 
                  to have a good record of the fixed assets in the country working with the stakeholders and tenants.       

                  </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <img src="/img/card/sun.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="ri-movie-2-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text"> To maintain, protect, manage the information of fixed assets and renters.
                   Also, provide a complete and accurate depreciation report with mail automation to return the assets rents  </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Boxes Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Fixed asset management</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Fixed asset depreciation</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Easy asset pay</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Profit earned on each asset</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Fixed asset and depreciation computation managemnt system</h3>
                <p class="fst-italic">
                  We are are managing all the information and the state of the assets rent and also maintain the tenants.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Managing the information of Renters and Fixed assets</li>
                  <li><i class="ri-check-double-line"></i> Allow user to pay for the rents of the asset using paystack</li>
                  <li><i class="ri-check-double-line"></i> electronic mails automation when rent due </li>
                </ul>
                <p>
                  
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/img/system/asset.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Depreciation computation management system </h3>
                <p class="fst-italic">
                  The system has ability to automatically calculate the depreciaton of each asset stored in the system
                </p>
      
                <ul>
                  <li><i class="ri-check-double-line"></i>kwoledge of true profit</li>
                  <li><i class="ri-check-double-line"></i> Avoid misleading financia informatrion</li>
                  <li><i class="ri-check-double-line"></i> Helps businesses reports the correct net book value of a given asset </li>
                  <li><i class="ri-check-double-line"></i> Helps in tax reduction</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/img/system/depreciation.png"  alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Paystack payment gateway make the system easy to used for renters </h3>
                <p class="fst-italic">
                  The payment gatway provides these below.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Easy Renting of the Fixed asset</li>
                  <li><i class="ri-check-double-line"></i> quick and fast of money deposition to the owners</li>
                  <li><i class="ri-check-double-line"></i> proprietors infromation security
                  </li>
                </ul>
              
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/img/system/payment.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Profit Earned information storage</h3>
                <p class="fst-italic">
                 Mi-asset is storing the information of the asset profit earned by each Owner.
                </p>
               
                <ul>
                  <li><i class="ri-check-double-line"></i> Serve as an incentives for rent assets</li>
                  <li><i class="ri-check-double-line"></i> utilized to know the worth and effect of the leased out Assets <li>
                  <li><i class="ri-check-double-line"></i> Serve as a super focus of managing the assets</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/img/system/asset.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-laptop"></i>
              <h4><a href="#">Fixed Asset Managemnt</a></h4>
              <p>We are expert in managing the fixed assets information</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-people"></i>
              <h4><a href="#">Renters Management</a></h4>
              <p>Renters information are maintain to be </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-calculator"></i>
              <h4><a href="#">Depreciation Computation</a></h4>
              <p>The Depreciation of each Fixed Asset are well Calculated in the system</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-window-plus"></i>
              <h4><a href="#">Profit Calculation</a></h4>
              <p>The profit earned in each Assets are calculated to aid the Owner to knows its Worth </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">Rent Out the Asset</a></h4>
              <p>you can rent out your fixed asset stored in the system such as building, cars, machines,etc</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-clock"></i>
              <h4><a href="#">Automatic Reminder For Renters</a></h4>
              <p>The system are sending automatic mails to renters to notify them due Time</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section class="testimonials" id="login" >
      <div class="container" data-aos="zoom-in">
        <div class="section-title">
          <h2>Log-in / Sign-up</h2>
          <p class="text-white">Sign-up Here</p>
        </div>
        <div class="row py-4 " id="sigin">
          
          <div class="col-sm-4 col-md-4 col-lg-4 bg-primary " id="left">
            <div class=" p-3 w-4 mx-0  mx-4 w-4 "><a href="/user" class="text-white mx-0 font-weight-bold">Log in as a Renter</a></div> 
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-sm-4 col-md-4 col-lg-4 bg-primary " id="right">
            <div class=" p-3 w-4 mx-0  mx-4 w-4"><a href="/admin" class="text-white ">Log in as an Ownner</a></div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Fixed-Assets</h2>
          <p> Fixed-Assets</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Buildings & estate</li>
              <li data-filter=".filter-card">Companies</li>
              <li data-filter=".filter-web">machines</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/img/fixed-assets/asset-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Estate</h4>
              <p>Los Angelis Estate</p>
              <a href="/img/fixed-assets/asset-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="/img/fixed-assets/asset-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Machine</h4>
              <p>Bicycle</p>
              <a href="/img/fixed-assets/asset-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/img/fixed-assets/asset-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Jagua Estate</h4>
              <p>Available To Let</p>
              <a href="/img/fixed-assets/asset-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/img/fixed-assets/asset-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>London Skyscraper</h4>
              <p>200 floor</p>
              <a href="/img/fixed-assets/asset-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="/img/fixed-assets/bike.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Machine</h4>
              <p>Motocycle</p>
              <a href="/img/fixed-assets/bike.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/img/fixed-assets/building.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>machine</h4>
              <p>Building</p>
              <a href="/img/fixed-assets/building.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/img/fixed-assets/restorants.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Building</h4>
              <p>Restorant</p>
              <a href="/img/fixed-assets/restorants.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/img/fixed-assets/" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Machine</h4>
              <p>Motocycle</p>
              <a href="/img/fixed-assets/" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="/img/fixed-assets/tractors.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Machine</h4>
              <p>Tractor</p>
              <a href="/img/fixed-assets/tractors.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clients</h2>
          <p>Check our clients</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Tones james</h4>
                <span>Landlord of Abiagba Properties </span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>cymthya Khos</h4>
                <span>Co-founder of Alabaman properties</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Tairu khalid</h4>
                <span>Renter at Balogun Estate</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up"">

    <div class=" section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Conect to us via our Socia media Handles</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>mi-assets@gmail.com<br>supecoded@gmail.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+234 704 957 8284<br>+234 816 462 2387</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Mi-Assets</h3>
              <p>
                24 Hour <br>
                Lively Active<br><br>
                <strong>Phone:</strong> +234 7049578284<br>
                <strong>Email:</strong> supecoded@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Fixed-assets Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Fixed-assets Depreciation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Asset Profits</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Renters Notication</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Renters information Management</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Enter your email in the following input to subscribe </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">

        &copy; Copyright <strong><span>Mi-Assets</span></strong>. All Rights Reserved
      </div>
   
        Designed by <a href>SuperCoded</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>